<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-road" aria-hidden="true"></i> Players </h1>
    <p> Search, Add, Update, and Delete for the players in the Database.</p>
  </div>

{{!-- Add a New Player form --}}
  <section>
  <div>
    <h2> Add a New Player </h2>
      {{!-- CITATION: https://getbootstrap.com/docs/4.0/components/forms/ --}}
      <form id="addPlayer_form" name="addPlayer_form" action="/addPlayer" method="post">
        <div class="form-row">
          <div class="col">
            <label for="p_fName">First Name</label>
            <input type="text" class="form-control" name="p_fName" id="p_fName" placeholder="DJ" required>
          </div>
          <div class="col">
            <label for="p_lName">Last Name</label>
            <input type="text" class="form-control" name="p_lName" id="p_lName" placeholder="LeMahieu" required>
          </div>
        </div>
        <button type="submit" value ="Submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </section>
  
  <br>
    	{{!-- CITATION: https://getbootstrap.com/docs/4.0/components/forms/ --}}
      {{!-- Search a Player form --}}
  <section>
  <div>
    <h2> Search a Player </h2>
    <form id="searchPlayer_form" name="searchPlayer_form" action="/searchPlayer_search" method="post">
    	<div class="form-row">
        <div class="col">
      		<label for="p_fName">First Name</label>
      		<input type="text" class="form-control" name="p_fName" id="p_fName" placeholder="DJ">
    	  </div>
    	  <div class="col">
      		<label for="p_lName">Last Name</label>
      		<input type="text" class="form-control" name="p_lName" id="p_lName" placeholder="LeMahieu">
    	  </div>
      </div>
    	<button type="submit" value ="Submit" class="btn btn-primary">Search</button>
    </form>

    {{!-- display players --}}
    <form action="/" class="form-group" method="post">
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
            </thead>
            <tbody>
                {{#each cards}}
                <tr>
                  <td>{{p_fName}}</td>
                  <td>{{p_lName}}</td>
                  <td>
                    <form action="/" method="post">
      	          		<input type="hidden" name="playerID" id="playerID" value="{{playerID}}">
      	              <input type="hidden" name="p_fName" id="p_fName" value="{{p_fName}}">
      	              <input type="hidden" name="p_lName" id="p_lName" value="{{p_lName}}">
      	              <button type="submit" formaction="/updatePlayer">Update</button>
      	          	</form>
                  </td>
                  <td>
                    <form action="/" method="post">
                      <input type="hidden" name="playerID" id="playerID" value="{{playerID}}">
                      <button type="submit" formaction="/deletePlayer">Delete</button>
                    </form>
                  </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
  </div>
  <section>  
</div>